@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.MessageList {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e5ddd5;
}

.Message {
  padding: 10px;
  margin: 5px 0;
  background-color: #dcf8c6;
  border-radius: 10px;
  max-width: 80%;
}

.MessageInput {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.MessageInput input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.MessageInput button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.MessageInput button:hover {
  background-color: #0056b3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Montserrat, sans-serif'; /* Use the new font */
}

.Home .home-button {
  margin-bottom: 8px;
  width: 80%;
  max-width: 400px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 10px;
  color: white;
  font-weight:bold;
}

.Home .home-button.victim {
  background-color: #1a8633; /* Muted green */
}

.Home .home-button.victim:hover {
  background-color: #dcd8d8; /* Lighter shade on hover */
}

.Home .home-button.volunteer {
  background-color: #024a96; /* Royal Blue */
}

.Home .home-button.volunteer:hover {
  background-color: #dcd8d8; /* Lighter shade on hover */
}

.Home .home-button.responder {
  background-color: #c33400; /* Professional Red */
}

.Home .home-button.responder:hover {
  background-color: #dcd8d8; /* Lighter shade on hover */
}

.InteractiveGraphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

.interactive-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.interactive-button:hover {
  background-color: #0056b3;
}

.interactive-image {
  margin-top: 20px;
}

.interactive-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

body>iframe {
  display: none !important;
}

.app-header {
  position: fixed;
  /* Stays at the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  /* Adjust if needed */
  z-index: 1000;
  /* Ensures it stays above other elements */
}

.logo {
  height: auto;
  max-width: 64px;
  display: block;
  margin: 0 auto;
  padding: 8px;
  font-family: sans-serif;
}

[data-testid="virtuoso-list"] {
  margin-right: 8px;
  margin-left: 8px;
}

[data-testid="virtuoso-scroller"] {
  padding-top: 8px;
}

html,
body,
#root,
.App {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
