

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.MessageList {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #e5ddd5;
}

.Message {
  padding: 10px;
  margin: 5px 0;
  background-color: #dcf8c6;
  border-radius: 10px;
  max-width: 80%;
}

.MessageInput {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.MessageInput input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.MessageInput button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.MessageInput button:hover {
  background-color: #0056b3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  padding: 15px 30px;
  /* Adjust padding for iPhone-like buttons */
  font-size: 18px;
  /* Slightly larger font size */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0;
  /* Add margin between buttons */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Add subtle shadow for depth */
}

.home-button:hover {
  background-color: #0056b3;
}

.InteractiveGraphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.interactive-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.interactive-button:hover {
  background-color: #0056b3;
}

.interactive-image {
  margin-top: 20px;
}

.interactive-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}


body>iframe {
  display: none !important
}

.app-header {
  position: fixed; /* Stays at the top */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: white; /* Adjust if needed */
  z-index: 1000; /* Ensures it stays above other elements */
}

.logo {
  height: auto;
  max-width: 75px; /* Adjust size as needed */
  display: block;
  margin: 0 auto; /* Ensures it's centered */
  padding: 10px;
}

[data-testid="virtuoso-list"] {
 margin-right: 8px;
 margin-left: 8px;
}
